 <h1 style="text-align:center">Harrisburg University of Science & Technology</h1>
    <h2 style="text-align:center">CISC 504 Principles of Programming Languages </h2>
    <h3 style="text-align:center">Exercise Set 1: Vital Python</h3>

In this modules we will be learning the vital essentials of Python and taking our first step on a journey in becoming Pythonic and powerful software developers and engineers. 
<p>Strings, Conditionals, and Loops, explains how to write basic Python programs, and outlines the fundamentals of the Python language.</p>

<h3>Standard Math Operations</h3>
<table>
   <thead>
       <tr>
          <th>Operation</th>
          <th>Symbol</th>
       </tr>
   </thead>
   <tbody>
      <tr>
         <td>Addition</td>
         <td>+</td>
      </tr>
      <tr>
         <td>Subtraction</td>
         <td>-</td>
      </tr>
      <tr>
         <td>Multiplication</td>
         <td>*</td>
      </tr>
      <tr>
         <td>Division</td>
         <td>/</td>
      </tr>
      <tr>
         <td>Integer Division</td>
         <td>//</td>
      </tr>
      <tr>
         <td>Exponential</td>
         <td>**</td>
      </tr>
      <tr>
         <td>Modulo/Remainder</td>
         <td>%</td>
      </tr>
   </tbody>
</table>

<p>Python follows the standard order of operations of arithmetic.
<ul>
    <li>Parentheses</li>
    <li>Exponents</li>
    <li>Multiplication/Division</li>
    <li>Addition/Subtraction</li>
</ul>
Using this knowledge, determine what the output of the following inputs would be.
</p>

In [1]:
(100 - 5 ** 3) / 5

-5.0

In [2]:
6 + 15 % 4

9

In [3]:
2 ** 2 + 24 // 4

10

Experiment with some of your mathematical operations in the below cell.

In [10]:
2+2**3-1

9

In [13]:
test = [1,2,3,4]

v1, v2,v3 = test[1:]

print (v1, v2, v3)

2 3 4

<h3>Types (Numbers)</h3>
<p>Numerical data in the Python programming language is stored in what are called "data types". Data types are a way for Python to understand what kind of data you are referring to. For now we will focus on <code>int</code> types and <code>float</code> types.
    <br/> <b>Int</b><br/>
    An <code>int</code> represents any number that is an integer: {1,2,3...500}. 
    <br/><b>Float</b><br/>
    A <code>float</code> represents any number that is not an integer: {-0.01, 1.201, 2.0, 3.14}.
    When working with numerical data, it is important to remember what type you are working with. 
    </p>

In [4]:
type(6)

int

In [5]:
type(6.0)

float

Python can convert between numerical data types on the fly in mathematical operations. When adding an <code>int</code> and a <code>float</code> together, Python converts the output data type into a float.

In [6]:
5 + 3.14

8.14

Another important fact to not is that Python will always attempt to presever information, that is why the result of adding an <code>int</code> and a <code>float</code> results in a float, however when converting a <code>float</code> to an <code>int</code>, Python will do a truncating round.

In [16]:
int(7.99999999999)

7

In [8]:
float(6)

6.0

Feel free to experiment with type conversion and coercion in the following cell.

<h3>Variables</h3>
<p>Variables are used to store elements of any type: data, functions, files, etc. <br/>Variable names should be descriptive as to what they represent. For example, if you are trying to represent the population of the world as a variable, perhaps you could use the variable <code>world_pop</code><br/>Variable assignment is a simple process but must be done in the correct order. The variable name always is on the left hand side and the value to be stored on the right hand side. <br/>Example: <code>variable_name = 10</code></p>

In [9]:
x = 2

In [10]:
x + 1

3

In [9]:
x = 3.0
x + 1
x + 2 
x + 3

6.0

In [5]:
import keyword
print(keyword.kwlist)

my_number1 = 2
seperate_words_with_underscores = 5

seperate_words_with_underscore = 6
seperate_words_with_underscore * seperate_words_with_underscores

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

30

<p>A couple of important notes on variable names:
    <li>Variable names should start with a letter from the english alphabet</li>
    <li>Variable names should be written in "slug case": <code>seperate_words_with_underscores</code></li>
    <li>Variable names should be entirely alpha-numeric</li>
    <li>Variables cannot be any Python Keywords: 'False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'`
</p>

In [3]:
1st_number = 1

SyntaxError: invalid syntax (<ipython-input-3-05d80cc97354>, line 1)

In [23]:
first_number = 1

In [22]:
my_$ = 1000.00

SyntaxError: invalid syntax (<ipython-input-22-e3c03546ed83>, line 1)

In [ ]:
my_money = 1000.00

You can have an infinite number of variables in your program and they can interact with each other in various manners.

In [7]:
x = 5
y = 2
x = 7
print(x,y)
print("hello" , "world")

7 2
hello world

In [10]:
x + x - y ** 2

2.0

In [ ]:
x, y = 8, 5

In [11]:
x // y

1.0

<h3>Comments</h3>
<p>Comments are important for maintaning code. They explain how your code works, what variables represent, etc. 
Comments are useful when coming back to a section of code that you haven't worked on in a while.
</p>

In [ ]:
# This is a comment

Set value of varaiable pi to 3.14

In [30]:
pi = 3.14

In [29]:
pi = 3.14    # Set the variable pi equal to 3.14

<h3>Strings</h3>
<p><code>string</code>'s are how Python (and other programming languages) represent words. <code>string</code>'s are signified with "double" or 'single' quotes. Most commonly, <code>string</code>'s represent words, phrases, and names but they can represent many more things like special characters including but not limitted it(!@#$\%^&*). <code>string</code>'s that start with a single quote must end with a single quote, the same is true for double quotes. You can include single or double quotes inside a <code>string</code> made with the opposite initial character, shown in a following example </p>

In [12]:
bookstore = "City Lights"

In [17]:
bookstore = 'City Lights"'
bookstore

'City Lights"'

In [37]:
bookstore = "Moe's"
bookstore

"Moe's"

In [48]:
bookstore = "Moe\t"
bookstore

'Moe\t'

In [50]:
print("Moe'\ts")

Moe'	s

There are many special characters can be put into <code>string</code>'s using what is called and "escape" character. The escape character is <code>\\</code>
Following is a table of various special escaped sequences:
<table>
   <thead>
      <tr>
         <th>Escape Sequence</th>
         <th>Meaning</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="text-align:left;">\\</td>
         <td>Blackslash (\)</td>
      </tr>
      <tr>
         <td style="text-align:left;">\'</td>
         <td>Single Quote (')</td>
      </tr>
      <tr>
         <td style="text-align:left;">\"</td>
         <td>Double Quote (")</td>
      </tr>
      <tr>
         <td style="text-align:left;">\b</td>
         <td>ASCII Backspace (BS)</td>
      </tr>
      <tr>
         <td style="text-align:left;">\f</td>
         <td>ASCII Formfeeed (FF) [page break]</td>
      </tr>
      <tr>
         <td style="text-align:left;">\n</td>
         <td>ASCII Linefeed (LF) [new line]</td>
      </tr>
      <tr>
         <td style="text-align:left;">\r</td>
         <td>ASCII Carriage Return (CR) [new line]</td>
      </tr>
      <tr>
         <td style="text-align:left;">\t</td>
         <td>ASCII Horizontal Tab (TAB)</td>
      </tr>
      <tr>
         <td style="text-align:left;">\v</td>
         <td>ASCII Vertical Tab (VT)</td>
      </tr>
   </tbody>
</table>

The <code>print()</code> function inside Python displays the value of the parameter passed to it as a string in the standard output of the program. In the Jupyter environment, standard output is the "Out[]" cell immediately following the "In[]" cell.

In [51]:
greeting = 'Hello'
print(greeting)

Hello

In [52]:
greeting

'Hello'

In [20]:
spanish_greeting = 'Hola.'
spanish_greeting
arabic_greeting = 'Ahlan wa sahlan.'

In [54]:
spanish_greeting = 'Hola.'
print(spanish_greeting)

Hola.

In [55]:
arabic_greeting = 'Ahlan wa sahlan.'
print(arabic_greeting)

Ahlan wa sahlan.

With the <code>print()</code> function, you can also do <code>string</code> concatentation, multiplicitive concatentaton, interpolation and formatting.

In [23]:
spanish_greeting = 'Hola'
two_strings = "Test" + " Word"
print(two_strings)
print(spanish_greeting + 'Senor.')

Test Word
HolaSenor.

In [24]:
spanish_greeting = 'Hola'
print(spanish_greeting + ' Senor.')

Hola Senor.

In [25]:
greeting = '100111001'
print(greeting * 555)

100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001100111001

For other common string operations, see the following examples and checkout this <a href="https://docs.python.org/3/library/string.html">documentation</a>.

In [26]:
name = 'Corey'
"Corey".lower()

'corey'

In [78]:
name.lower()
print(name.lower())
print(name)

corey
Corey

In [75]:
name.capitalize()

'Corey'

In [27]:
name.upper()

'COREY'

In [36]:
name_2 = "O'Brion"
print(name_2.count('o') + name_2.count("O"))
# name.count('o') + name.count("O")

2

So we have <code>int</code>, <code>float</code> and <code>string</code> data types. A common practice in programming is converting these data types back and forth as neccessary for calcuations.

In [37]:
type('5')

str

In [2]:
'5' + '7'

'57'

In [40]:
int('5')

ValueError: invalid literal for int() with base 10: '5dfg'

In [25]:
int('5') + int('7')

12

<h3>User Input</h3>
<p>You can interact with a user by levarging the <code>input()</code> function.

In [6]:
# Choose a question to ask
print('What is your name?')

What is your name?

In [7]:
name = input()
age = input("What is your age?")

Caleb
What is your age?25

In [44]:
print('Hello, ' + name+ '.')

Hello, Caleb.

In [ ]:
print("What is your age?")
age = int(input())
print("You will be this old 10 years from now")
print(age + 10)

<h3>Boolean Type</h3>
<p>Now we will introduce the last basic or "primative" type, <code>bool</code>. A <code>bool</code> or Boolean type is a binary data type indicating whether a value is <code>True</code> or <code>False</code>. Booleans are important to computer because a <code>bool</code> can determine the path a program takes through its run cycle.

In [8]:
over_18 = True
type(over_18)

bool

In [9]:
over_21 = False
type(over_21)

bool

In [100]:
a == 35
xor_example = a > 18 and not a > 21
print(xor_example)

False

<h3>Logical Operations</h3>
<p>Logical operations are how booleans iteract with each other in a program. The common boolean operators are:
    <li/> AND
    <li/> OR
    <li/> NOT
    <li/> XOR
    <li/> NAND
    <br/>
There are also comparison operators:
    <table>
        <thead>
            <tr>
                <th>Operator</th>
                <th>Label</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&lt;</td>
                <td> Less than</td>
            </tr>
            <tr>
                <td>&gt;</td>
                <td>Greater than</td>
            </tr>
            <tr>
                <td>&lt;=</td>
                <td>Less than or equal to</td>
            </tr>
            <tr>
                <td>&gt;=</td>
                <td>Greater than or equal to</td>
            </tr>
            <tr>
                <td>==</td>
                <td>Equivalent</td>
            </tr>
            <tr>
                <td>!=</td>
                <td>Not Equivalent</td>
            </tr>
        </tbody>
    </table>
</p>

In [10]:
age = 20
age < 13

False

In [11]:
age >= 20 and age <= 21

True

In [12]:
age != 21

True

In [13]:
age ==  19

False

In [14]:
type(6) == type(6.0)
6 == 6.0

True

In [16]:
str(6) == '6'

True

In [20]:
(age >= 20 and age < 30) and (age >= 30 and age < 40)

False

In [21]:
(20 <= age < 30) or (30 <= age < 40)

True

<p>Comparing strings, Python will evaluate the string who's first letter comes first in the English alphabet as "Less Than" a string that starts with a letter later

In [111]:
'a' < 'c'

True

In [23]:
'New York' < 'San Francisco'

True

<h3>Flow Control</h3>
<p>Finally we get to flow control. Flow control is how a programmer can influence a program to perform in different ways based on the data presented when checked. <br/>
Flow control is performed in a few different ways in Python. 
    <li/><code>if</code> statements
    <li/><code>for</code> loops
    <li/><code>while</code> loops
    
   <p>An <code>if</code> statement is the most basic form of flow control. <b>if</b>'s or conditionals evaluate Boolean values or Boolean expressions and operate in accordance to their results.</p>
</p>

In [38]:
age = 20

if age < 30:
    print("Something went wrong")
else:
    print("All is well")

if age >= 18 and age < 21: 
    print('At least you can vote.')
    print('Poker will have to wait.')

Something went wrong
At least you can vote.
Poker will have to wait.

In [35]:
if age >= 18:
    print('You can vote.')
    if age >= 21:
        print('You can play poker.')
    print("Not quite done yet...")    
print("Done")

You can vote.
Not quite done yet...
Done

<p>An important part of any programming language is proper indentation. It helps improve readability. In Python though, it is extra important. Python uses indentation instead of brackets {} to signify various parts of the language like <code>if</code>'s, loops and functions.

In [43]:
age = 20
if age < 18:
    print('You aren\'t old enough to vote.')
else:
    print("Welcome to our voting program")

Welcome to our voting program.

In [40]:
age = 17
if age >= 18:
    print('Welcome to our voting program.')
elif age == 17:
    print('You need to wait one more year')
elif 
else:
    print("You have to wait a while to vote")

You need to wait one more year

<p>In this exercise you are going to determine whether or not a number is perfect square. Using a few different techniques learned so far, including variables, user input, Booleans, strings, and looping. </p>
<p>
<code>while</code> loops are used to repeat an action until a condition is met. Imagine an <code>if</code> statement that repeats what is under the conditional until the condition is true</p>

In [53]:
print('Enter a number to see if it\'s a perfect square.')

Enter a number to see if it's a perfect square.

In [54]:
number = input()

15

In [55]:
number = abs(int(number))
print(81**.5)

x = 8

9.0

In [56]:
i = -1

In [57]:
square = False

In [58]:
while i <= number**(0.5):
    i += 1
    if i*i == number:   
        square = True
        break
if square:
    print('The square root of', number, 'is', i, '.')
else:
    print('', number, 'is not a perfect square.')

 15 is not a perfect square.

<p>Now we are going to try a another complex exercise with real estate</p>

In [59]:
print('A one bedroom in the Bay Area is listed at $599,000')
print('Enter your first offer on the house.')
offer = abs(int(input()))
print('Enter your best offer on the house.')
best = abs(int(input()))
print('How much more do you want to offer each time?')
increment = abs(int(input()))
offer_accepted = False
while offer <= best:  
    print(offer)
    if offer >= 650000:
        offer_accepted = True
        print('Your offer of', offer, 'has been accepted!')
        break
    print('We\'re sorry, you\'re offer of', offer, 'has not been accepted.' )
    offer += increment

A one bedroom in the Bay Area is listed at $599,000
Enter your first offer on the house.
550000
Enter your best offer on the house.
700000
How much more do you want to offer each time?
25000
550000
We're sorry, you're offer of 550000 has not been accepted.
575000
We're sorry, you're offer of 575000 has not been accepted.
600000
We're sorry, you're offer of 600000 has not been accepted.
625000
We're sorry, you're offer of 625000 has not been accepted.
650000
Your offer of 650000 has been accepted!

<p>Finally we have <code>for</code> loops. For loops are helpful for iterating over a finate domain of entities. There are also a few useful tricks with <code>for</code> loops. You can iterate over the letters in a <code>string</code>. You can define a <code>range</code> and iterate over the numbers within the range. The <code><a href="https://docs.python.org/3/library/functions.html#func-range">range()</a></code> function will perform differently based on what you pass to it. If you pass 1 parameter, it will return a range of 0 to 1 less than the number you passed: <code>range(10)</code> would be <code>[0,1,2,3,4,5,6,7,8,9]</code>. If you pass 2 numbers, it will return numbers all integers between the first parameter and 1 less than the second number: <code>range(1,5)</code> would be <code>[1,2,3,4]</code>. Finally you  can define a third parameter as a "step" parementer to increase by on each iteration. The fourth code cell below displays this.

In [137]:
for i in 'Portland':
    print("I am letter: " + i)

I am letter: P
I am letter: o
I am letter: r
I am letter: t
I am letter: l
I am letter: a
I am letter: n
I am letter: d

In [60]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [54]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [61]:
for i in range(1, 10,3): # range of all numbers >= first number and < second number
    print(i)

1
4
7

In [56]:
for i in range(3, 0, -1):
    print(i)

3
2
1

<p>Loops and conditions can also be "nested". Loops

In [69]:
name = 'Corey'
for i in range(3):
     for l in name:
        print(l, i)

C 0
o 0
r 0
e 0
y 0
C 1
o 1
r 1
e 1
y 1
C 2
o 2
r 2
e 2
y 2