In [1]:
print('Chintan Kanadia')

Chintan Kanadia

In [2]:
print('|__| |  |')
print('|  | |__|')

|__| |  |
|  | |__|

In [3]:
print('#'*10)

##########

# Variables

In [4]:
price = 10
price = 4.9
name = 'Chintan'
is_published = False
print(price)

4.9

In [5]:
name = input('What is your name? ')
print('Hi ' + name)

What is your name? chintan
Hi chintan

In [6]:
birth_year = input('Birth Year:')
print()
age = 2020 - int(birth_year)
print(age)

Birth Year:1986

34

# String

We can define strings using single (‘ ‘) or double (“ “) quotes.

To define a multi-line string, we surround our string with tripe quotes (“””).

We can get individual characters in a string using square brackets [].

course = ‘HU Summer Camp’
course[0] # returns the first character
course[1] # returns the second character
course[-1] # returns the first character from the end
course[-2] # returns the second character from the end

We can slice a string using a similar notation:

course[1:5]

In [7]:
course = 'HU Summer Camp'
print(course.find('p'))

13

In [11]:
first = 'Ron'
last = 'Jones'
message = first + ' [' + last +'] is coder'
msg = f'{first} [{last}] is coder'
print(message)
print(msg)

Ron [Jones] is coder
Ron [Jones] is coder

In [18]:
course = "HU summer camp"
print(len(course))
print(course.upper())
print(course.lower())
print(course.title())
print(course)
print('HU' in course)

14
HU SUMMER CAMP
hu summer camp
Hu Summer Camp
HU summer camp
True

# Arithmetic Operations

+

-

*

/ # returns a float

// # returns an int

% # returns the remainder of division

** # exponentiation - x ** y = x to the power of y

Augmented assignment operator:
x = x + 10
x += 10

Operator precedence:
1. parenthesis
2. exponentiation
3. multiplication / division
4. addition / subtraction

In [27]:
x = 10
x = x +3
x -= 3
print(x)

10

In [32]:
x = (10 + 3) * 2 ** 2
print(x)

52

In [37]:
import math
x = 2.9
print(round(x))
print(abs(-1.9))
print(math.ceil(2.9))
print(math.floor(x))

3
1.9
3
2

# IF statement

In [45]:
is_hot = False
is_cold = True

if is_hot:
    print("It's a hot day")
    print("Drink plenty of water")
elif is_cold:
    print("It's Cold day")
    print("Wear warm clothes")
else:
    print("It's a lovely day")
    
print("Enjoy your day")

It's Cold day
Wear warm clothes
Enjoy your day

In [52]:
has_high_income = True
has_good_credit = False

if has_high_income and not has_good_credit:
    print("Eligible for Loan")

Eligible for Loan

In [56]:
temperature = 20

if temperature != 30:
    print("It's a hot day")
else:
    print("It's not a hot day")

It's a hot day

In [70]:
name = input("Enter your name: ")
if len(name) < 3:
    print("Name must greater than 3 char")
elif len(name) > 20:
    print("Name must be less than 20 char")
else:
    print("Name is good")

Enter your name: chintan
Name is good

# While Loop

In [65]:
weight = int(input('Weight: '))
unit = input ('(L)bs or (K)g: ')
if unit.upper() == "L":
    converted = weight * 0.45
    print(f"Your are {converted} Kilos")
elif unit.upper() == "K":
    converted = weight / 0.45 
    print(f"Your are {converted} Lbs")
else:
    print("incorrect input")

Weight: 34
(L)bs or (K)g: l
Your are 15.3 Kilos

In [68]:
i = 1
while i <= 5:
    print('*' * i)
    i = i + 1
print('Done')

*
**
***
****
*****
Done

# For Loop

In [72]:
for item in 'Harrisbur University':
    print(item)

H
a
r
r
i
s
b
u
r

U
n
i
v
e
r
s
i
t
y

In [76]:
for item in range(1,10):
    print(item)

1
2
3
4
5
6
7
8
9

In [80]:
item = [10, 20, 30]
total = 0

for i in item:    
    total += i
    
print(total)

60

In [83]:
for x in range(4):
    for y in range(3):
        print(f'({x},{y})')

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)

In [93]:
number = [2, 2, 2, 2, 5, 5]
for x in number:
    output = ''
    for y in range(x):
        output += 'x'
    print(output)

xx
xx
xx
xx
xxxxx
xxxxx

# Lists

In [99]:
numbers = [3, 5, 1, 10, 8]
highest_number = number[0]
for i in numbers:
    if i > highest_number:
        highest_number = i
print(highest_number)

10

In [102]:
metrics = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for row in metrics:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

In [104]:
numbers = [2, 2, 4, 6, 3, 4, 6, 1]
uniques = []

for number in numbers:
    if number not in uniques:
        uniques.append(number)
print(uniques)

[2, 4, 6, 3, 1]

In [ ]:
phone = input("Phone: ")
digits_mapping = {
    "1" : "One",
    "2" : "Two",
    "3" : "Three",
    "4" : "Four"
}
output = ''
for ch in phone:
    output += digits_mapping.get(ch, "!") + " "
print(output)

# Functions

In [14]:
def welcome_msg():
    print('Hi there')
    print('Welcome aboard')


print('start')
welcome_msg()
print('end')

start
Hi there
Welcome aboard
end